* {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.vp1 {
	display: flex;
}

.left1 {
	background-image: url(assets/vp1%20left%20bg.png);
	height: 100vh;
	width: 43.5vw;
	z-index: 1;
}

.right1 {
	position: absolute;
	right: 0;
	background-color: #131313;
	height: 100vh;
	width: 56.5vw;
	z-index: 10;
}

.vp2 {
	display: flex;
}

.left2 {
	background-color: #000;
	height: 100vh;
	width: 42.97vw;
}

.right2 {
	background-image: url(assets/vp2%20right%20bg.png);
	height: 100vh;
	width: 57.03vw;
}

.vp3 {
	display: flex;
}

.left3 {
	background-image: url(assets/vp3%20left%20bg.png);
	height: 100vh;
	width: 59vw;
	z-index: 1;
}

.right3 {
	position: absolute;
	right: 0;
	background-color: #ffffff00;
	height: 100vh;
	width: 53vw;
	z-index: 10;
}

.footer {
	background-color: #131313;
	height: 42.6vh;
	width: 100vw;
	display: flex;
}

.social h1 {
	font-family: Montserrat;
	font-size: 2.2vh;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
}

.email h1 {
	font-family: Montserrat;
	font-size: 2.2vh;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
}

.phone h1 {
	font-family: Montserrat;
	font-size: 2.2vh;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
}

.address h1 {
	font-family: Montserrat;
	font-size: 2.2vh;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
}

.email h2 {
	margin-top: 2.5vh;
	opacity: 0.8;
	font-family: Montserrat;
	font-size: 2.2vh;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
}

.phone h2 {
	margin-top: 2.5vh;
	opacity: 0.8;
	font-family: Montserrat;
	font-size: 2.2vh;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
}

.phone h3 {
	opacity: 0.8;
	font-family: Montserrat;
	font-size: 2.2vh;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
}

.address h2 {
	margin-top: 2.5vh;
	opacity: 0.8;
	font-family: Montserrat;
	font-size: 2.2vh;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
	width: 14vw;
}

.social img {
	margin-top: 3.5vh;
	height: 1.85vh;
	margin-right: 0.625vw
}

.social {
	margin-left: 2.65vw;
	margin-top: 12.6vh;
}

.email {
	margin-left: 5.20vw;
	margin-top: 12.6vh;
}

.phone {
	margin-left: 5.20vw;
	margin-top: 12.6vh;
}

.address {
	margin-left: 5.20vw;
	margin-top: 12.6vh;
}

iframe {
	margin-left: 5.20vw;
	margin-top: 6.67vh;
	height: 29.35vh;
	width: 29.82vw;
}

.left3 {
	display: flex;
}

.mentors {
	margin-top: 26.4vh;
	margin-left: 10.7vw;
	width: 25vw;
}

.mentors img {
	margin-top: 2vh;
	height: 13.9vh;
}

.left3 > img {
	height: 23.4vh;
	margin-top: 38.25vh;
}

.top3 {
	display: flex;
}

.top3-1 {
	height: 16.3vh;
	width: 12vw;
	background-color: #ffffff00;
}

.top3-2 {
	height: 16.3vh;
	width: 41vw;
	background-color: #000;
}

.middle3 {
	display: flex;
}

.middle3-1 {
	width: 15.94vw;
	height: 71.3vh;
	background-color: #0a5bfe;
}

.middle3-1 h1 {
	margin-left: 2.5vw;
	margin-top: 8vh;
	font-family: Montserrat;
	font-size: 2.2vh;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
}

.middle3-1 h2 {
	margin-left: 2.5vw;
	margin-top: 1.5vh;
	opacity: 0.8;
	font-family: Montserrat;
	font-size: 2.2vh;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
	width: 12vw;
}

.middle3-1 h3 {
	margin-left: 2.5vw;
	margin-top: 31vh;
	opacity: 0.8;
	font-family: Montserrat;
	font-size: 2.2vh;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
	width: 12vw;
}

.middle3-1 h4 {
	margin-left: 2.5vw;
	margin-top: 1.5vh;
	font-family: Montserrat;
	font-size: 2.2vh;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
}

.middle3-2 {
	width: 37.06vw;
	height: 71.3vh;
	background-color: #000;
}

.middle3-2 h1 {
	margin-top: 2vh;
	font-family: Montserrat;
	font-size: 4.6vh;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.22;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
	margin-left: 6.3vw;
}

.enter_name {
	margin-top: 10vh;
	margin-left: 6.3vw;
	width: 15vw;
	padding: 12px;
	border: 2px solid #fff;
	background-color: #000;
	border-radius: 10px;
	font-family: Montserrat;
	color: #ffffff;
	font-size: 2.2vh;
}

.enter_email {
	margin-top: 1.5vh;
	margin-left: 6.3vw;
	width: 18vw;
	padding: 12px;
	border: 2px solid #fff;
	background-color: #000;
	border-radius: 10px;
	font-family: Montserrat;
	color: #ffffff;
	font-size: 2.2vh;
}

.enter_phone {
	margin-top: 1.5vh;
	margin-left: 6.3vw;
	width: 15vw;
	padding: 12px;
	border: 2px solid #fff;
	background-color: #000;
	border-radius: 10px;
	font-family: Montserrat;
	color: #ffffff;
	font-size: 2.2vh;
}

.enter_quali {
	margin-top: 1.5vh;
	margin-left: 6.3vw;
	width: 18vw;
	padding: 12px;
	border: 2px solid #fff;
	background-color: #000;
	border-radius: 10px;
	font-family: Montserrat;
	color: #ffffff;
	font-size: 2.2vh;
}

.enter_pref_course {
	margin-top: 1.5vh;
	margin-left: 6.3vw;
	width: 18vw;
	padding: 12px;
	border: 2px solid #fff;
	background-color: #000;
	border-radius: 10px;
	font-family: Montserrat;
	color: #ffffff;
	font-size: 2.2vh;
}

.submit {
	margin-top: 5vh;
	margin-left: 6.3vw;
	background-color: #0a5bfe;
	font-family: Montserrat;
	color: #ffffff;
	font-size: 2.2vh;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	width: 13.5vw;
}

.bottom3 {
	display: flex;
}

.bottom3-1 {
	height: 12.4vh;
	width: 15.94vw;
	background-color: #000;
	text-align: center;
}

.bottom3-1 img {
	height: 3.5vh;
	margin-top: 4.45vh;
}

.bottom3-2 {
	width: 37.06vw;
	height: 12.4vh;
	background-color: #000;
}

.top2 {
	height: 15.55vh;
	width: 31.15vw;
	background-color: #000;
}

.middle2 {
	display: flex;
}

.middle2-1 {
	text-align: center;
	width: 27vw;
	height: 71.3vh;
	background-color: #000;
}

.middle2-1 h1 {
	margin-top: 2vh;
	font-family: Montserrat;
	font-size: 4.6vh;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.22;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
	margin-left: 3vw;
}

.middle2-1 h2 {
	margin-top: 8.14vh;
	font-family: Montserrat;
	font-size: 2.5vh;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.36;
	letter-spacing: normal;
	text-align: left;
	color: #cfcfcf;
	margin-left: 3vw;
}

.middle2-1 h3 {
	margin-top: 4.62vh;
	font-family: Montserrat;
	font-size: 2vh;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.36;
	letter-spacing: normal;
	text-align: left;
	color: #cfcfcf;
	opacity: 0.7;
	margin-left: 3vw;
	width: 20vw;
}

.middle2-1 h4 {
	margin-top: 6vh;
	margin-left: 3vw;
	opacity: 0.8;
	font-family: Montserrat;
	font-size: 2vh;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
}

.middle2-1 h5 {
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
	margin-left: 3vw;
	margin-top: 0.5vh;
}

.middle2-1 img {
	height: 3.5vh;
	margin-top: 8.5vh;
}

.middle2-2 {
	width: 15.94vw;
	height: 71.3vh;
	background-color: #0a5bfe;
}

.middle2-2 h1 {
	margin-left: 2.5vw;
	margin-top: 8vh;
	font-family: Montserrat;
	font-size: 2.2vh;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
}

.middle2-2 h3 {
	margin-left: 2.5vw;
	margin-top: 2.5vh;
	opacity: 0.8;
	font-family: Montserrat;
	font-size: 2vh;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
	width: 12vw;
}

.middle2-2 h2 {
	margin-left: 2.5vw;
	margin-top: 1.25vh;
	opacity: 0.8;
	font-family: Montserrat;
	font-size: 2vh;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
	width: 12vw;
}

.bottom2 {
	display: flex;
}

.bottom2-1 {
	height: 13.15vh;
	width: 27vw;
	background-color: #000;
}

.bottom2-2 {
	display: flex;
}

.prev2 {
	text-align: center;
	width: 7.97vw;
	height: 13.15vh;
	background-color: #131313;
}

.prev2 img {
	margin-top: 5.4vh;
}

.next2 {
	text-align: center;
	width: 7.97vw;
	height: 13.15vh;
	background-color: #000;
}

.next2 img {
	margin-top: 5.4vh;
}

.gallery {
	margin-top: 17.78vh;
	margin-left: 4vw;
	display: flex;
}

.gallery img {
	height: 64.45vh;
	margin-right: 1vw;
}

.right2 > img {
	margin-top: 8vh;
	margin-left: 23.4vw;
	width: 4.64vw;
}

.logo {
	height: 9.72vh;
	margin-top: 2.96vh;
	margin-left: 1.82vw;
}

.left1 > div {
	display: flex;
	margin-top: 10vh;
}

.design {
	height: 23.4vh;
	margin-top: 16vh;
}

.hero_text {
	margin-left: 4.73vw;
	width: 31.67vw;
}

.top1 {
	display: flex;
}

.top1-2 {
	display: flex;
	height: 15.56vh;
	background-color: #000;
	width: 44.52vw;
	text-align: center;
}

.top1-1 {
	width: 11.98vw;
	height: 15.56vh;
	background-color: #131313;
}

.top1-2 h1 {
	opacity: 0.5;
	font-family: Montserrat;
	font-size: 2.3vh;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.3;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
	margin-right: 5vw;
	margin-top: 6vh;
}

.top1-2 h2 {
	font-family: Montserrat;
	font-size: 2.3vh;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.3;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
	margin-right: 5vw;
	margin-top: 6vh;
	margin-left: 6vw;
}

.middle1 {
	display: flex;
}

.middle1-1 {
	width: 22vw;
	height: 71.3vh;
	background-color: #0a5bfe;
}

.middle1-1 h1 {
	margin-left: 2.5vw;
	margin-top: 5vh;
	font-family: Montserrat;
	font-size: 2.2vh;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
}

.middle1-1 h2 {
	margin-left: 2.5vw;
	margin-top: 1.5vh;
	opacity: 0.8;
	font-family: Montserrat;
	font-size: 2.2vh;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
	width: 12vw;
}

.middle1-1 h3 {
	margin-left: 2.5vw;
	margin-top: 28vh;
	opacity: 0.8;
	font-family: Montserrat;
	font-size: 2.2vh;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
	width: 12vw;
}

.middle1-1 h4 {
	margin-left: 2.5vw;
	margin-top: 1.5vh;
	font-family: Montserrat;
	font-size: 2.2vh;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
}

.middle1-1 h5 {
	margin-left: 2.5vw;
	margin-top: 3vh;
	font-family: Montserrat;
	font-size: 2.2vh;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
}

.middle1-2 {
	overflow-y: hidden;
	background-color: #131313;
	height: 71.3vh;
	width: 100%;
	text-align: center;
}

.middle1-2 img {
	height: 64.8vh;
	margin-top: 3.24vh;
	margin-bottom: 3.24vh;
}

.bottom1 {
	display: flex;
}

.bottom1-1 {
	width: 15.94vw;
	height: 13.15vh;
	display: flex;
}

.prev1 {
	text-align: center;
	width: 7.97vw;
	height: 13.15vh;
	background-color: #000;
}

.prev1 img {
	margin-top: 5.4vh;
}

.next1 {
	text-align: center;
	width: 7.97vw;
	height: 13.15vh;
	background-color: #131313;
}

.next1 img {
	margin-top: 5.4vh;
}

.bottom1-2 {
	background-color: #000;
	width: 100%;
	text-align: center;
}

.bottom1-2 h1 {
	opacity: 0.65;
	font-family: Montserrat;
	font-size: 2vh;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: 5px;
	color: #ffffff;
	margin-top: 4.5vh;
}
