* {
	margin: 0;
	padding: 0;
}

.vp1 {
	display: flex;
}

.left1 {
	background-image: url(assets/vp1%20left%20bg.png);
	height: 100vh;
	width: 54.95vw;
	z-index: 1;
}

.right1 {
	position: absolute;
	right: 0;
	background-color: #131313;
	height: 100vh;
	width: 45.05vw;
	z-index: 10;
}

.vp2 {
	display: flex;
}

.left2 {
	background-color: #131313;
	height: 100vh;
	width: 31.15vw;
}

.right2 {
	background-image: url(assets/vp2%20right%20bg.png);
	height: 100vh;
	width: 68.85vw;
}

.vp3 {
	display: flex;
}

.left3 {
	background-image: url(assets/vp3%20left%20bg.png);
	height: 100vh;
	width: 59vw;
	z-index: 1;
}

.right3 {
	position: absolute;
	right: 0;
	background-color: #131313;
	height: 100vh;
	width: 41vw;
	z-index: 10;
}

.footer {
	background-color: #131313;
	height: 42.6vh;
	width: 100vw;
	display: flex;
}

.social h1 {
	font-family: Montserrat;
	font-size: 2.2vh;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
}

.email h1 {
	font-family: Montserrat;
	font-size: 2.2vh;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
}

.phone h1 {
	font-family: Montserrat;
	font-size: 2.2vh;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
}

.address h1 {
	font-family: Montserrat;
	font-size: 2.2vh;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
}

.email h2 {
	margin-top: 2.5vh;
	opacity: 0.8;
	font-family: Montserrat;
	font-size: 2.2vh;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
}

.phone h2 {
	margin-top: 2.5vh;
	opacity: 0.8;
	font-family: Montserrat;
	font-size: 2.2vh;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
}

.phone h3 {
	opacity: 0.8;
	font-family: Montserrat;
	font-size: 2.2vh;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
}

.address h2 {
	margin-top: 2.5vh;
	opacity: 0.8;
	font-family: Montserrat;
	font-size: 2.2vh;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
	width: 14vw;
}

.social img {
	margin-top: 3.5vh;
	height: 1.85vh;
	margin-right: 0.625vw
}

.social {
	margin-left: 2.65vw;
	margin-top: 12.6vh;
}

.email {
	margin-left: 5.20vw;
	margin-top: 12.6vh;
}

.phone {
	margin-left: 5.20vw;
	margin-top: 12.6vh;
}

.address {
	margin-left: 5.20vw;
	margin-top: 12.6vh;
}

iframe {
	margin-left: 5.20vw;
	margin-top: 6.67vh;
	height: 29.35vh;
	width: 29.82vw;
}

.left3 {
	display: flex;
}

.mentors {
	margin-top: 26.4vh;
	margin-left: 10.7vw;
	width: 25vw;
}

.mentors img {
	margin-top: 2vh;
}

.left3 > img {
	height: 23.4vh;
	margin-top: 38.25vh;
}
