* {
    margin: 0;
    padding: 0;
}

.logo {
    height: 10vh;
    margin-left: 3vw;
    margin-top: 3.5vh;
}

.topbar {
    display: flex;
}

.nav {
    margin-left: 45vw;
    width: 50vw;
    height: 15vh;
    background-color: #000000;
    display: flex;
}

.nav h1,
.nav h2 {
    margin-left: 12.5%;
    margin-top: 6vh;
    font-family: Montserrat;
    font-size: 2.2vh;
    font-weight: normal;
    color: #ffffff;
}

.nav h2 {
    opacity: 0.5;
}

.section {
    display: flex;
    height: 85vh;
}

.img_holder {
    background-color: #131313;
    width: 40vw;
    height: 70vh;
    text-align: center;
}

.img_holder img {
    margin: 4vh;
    height: 90%;
    width: 88%;
}

.img_footer {
    height: 15vh;
    background-color: black;
}

.img_footer h2 {
    padding: 6vh;
    text-align: center;
    opacity: 0.65;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: 5px;
    color: #ffffff;
}

.details {
    width: 40%;
    height: 82.5%;
    background-color: #0a5bfe;
}

.details h1,
.details h2,
.details h3,
.details h4,
.details h5 {
    font-family: Montserrat;
    color: #ffffff;
}

.details h1 {
    padding-top: 5vh;
    padding-left: 2vw;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 5px;
    text-align: left;
}

.details h2 {
    padding-top: 3vh;
    padding-left: 2vw;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    text-align: left;
}

.details h3 {
    opacity: 0.8;
    line-height: 1.5;
    padding-top: 1vh;
    padding-left: 2vw;
    font-size: 15px;
    font-weight: normal;
    letter-spacing: normal;
    text-align: left;
}
