* {
    margin: 0;
    padding: 0;
}

.logo {
    height: 10vh;
    margin-left: 3vw;
    margin-top: 3.5vh;
}

.topbar {
    display: flex;
}

.nav {
    margin-left: 45vw;
    width: 50vw;
    height: 15vh;
    ;
    background-color: #000000;
    display: flex;
}

.nav h1,
.nav h2 {
    margin-left: 12.5%;
    margin-top: 6vh;
    font-family: Montserrat;
    font-size: 2.2vh;
    font-weight: normal;
    color: #ffffff;
}

.nav h2 {
    opacity: 0.5;
}

.section {
    display: flex;
    height: 85vh;
}

.img_holder {
    background-color: #131313;
    width: 40vw;
    height: 70vh;
    text-align: center;
}

.img_holder img {
    margin: 4vh;
    height: 90%;
    width: 88%;
}

.img_footer {
    height: 15vh;
    background-color: black;
}
